#video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
    border: chocolate;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-width: 10ex;
    border: chocolate;
}

screen {
    background: #222;
    margin-top: 400px;
}

h1 {
    color: brown;
}